/* sfondo con logo */
#logo{
    background-image: url(/img/pattern.png);
    background-repeat: repeat;
    background-color: #4EA1FF;
    background-size: cover;
    width: 20%;
    padding-right: 100%;
    padding-bottom: 20px;
    
}


/* autore */
.autore{
    color: #636363;
}
.the-booleaner{
    color: #40A6D1;
}

#data{
    color: #636363;
    font-size: 10px;
}

/* immagini Tim */
.contenitore-foto-di-tim {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* didascalie immagini Tim */
.didascalie-foto{
    font-size: 10px;
}

/* testo evidenziato in giallo */
.testo-evidenziato-giallo{
    background-color: yellow;
}

/* allineamento dell'elenco puntato */
ul {
    margin: 0;
    padding-left: 15px;
    padding-bottom: 10px;
}

/* tabella corpo */
table{
    border-collapse: collapse;
    text-align: left;
}

/* head tabella */
.head-tabella{
  background-color: #1FAAE6;
  color: white;
}

/* larghezza colonne */
th{
    width: 25%;
}

#metatabella{
    width: 50%;
}

/* colori righe */
.prima-riga{
    background-color: #B1E6F2;
}
.terza-riga{
    background-color: #B1E6F2;
}

/* testo sul banner "potrebbero interessarti" */
h3{
    color: #898989;
}

/* foto banner */
.contenitore-foto-banner{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.foto-banner{
    width: 250px;
    height: auto;
}