/* sfondo con logo */



/* sottotitolo */
.sottotitolo{
    color: #636363;
}
.the-booleaner{
    color: #40A6D1;
}

/* immagini Tim */
.contenitore-foto-di-tim {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* didascalie immagini Tim */
.didascalie-foto{
    font-size: 10px;
}

/* testo evidenziato in giallo */
.testo-evidenziato-giallo{
    background-color: yellow;
}

/* allineamento dell'elenco puntato */
ul {
    margin: 0;
    padding-left: 15px;
}

/* tabella corpo */
table{
    border-collapse: collapse;
    text-align: left;
}

/* head tabella */
.head-tabella{
  background-color: #0CA7E2;
  color: white;
}

/* colori righe */
.prima-riga{
    background-color: #9cd6f3;
}
.terza-riga{
    background-color: #9cd6f3;
}

/* testo sul banner "potrebbero interessarti" */
h3{
    color: #636363;
}

/* foto banner */
.contenitore-foto-banner{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.foto-banner{
    width: 250px;
    height: auto;
}