/* sfondo con logo */



/* sottotitolo */
.sottotitolo{
    color: #636363;
}
.the-booleaner{
    color: #40A6D1;
}

/* immagini Tim */
.contenitore-foto-di-tim {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* didascalie immagini Tim */
.didascalie-foto{
    font-size: 10px;
}

/* testo evidenziato in giallo */
.testo-evidenziato-giallo{
    background-color: yellow;
}

/* allineamento dell'elenco puntato */
ul {
    margin: 20;
    padding-left: 15px;
}
